.welcome{
    margin-top: 5rem;
    font-size: larger;
}
span{
    color: rgb(203, 31, 168);
}
@keyframes firework {
    0% { 
      transform: translate(-50%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  .fireworkBox{
    display: flex;
    justify-content: space-between;
  }
  .firework,
  .firework::before,
  .firework::after {
    --top: 60vh;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
      /* random backgrounds */
      radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
      radial-gradient(circle, rgb(0, 255, 34) 0.3vmin, #0000 0) 00% 50%,
      radial-gradient(circle, rgb(0, 225, 255) 0.5vmin, #0000 0) 50% 99%,
      radial-gradient(circle, rgb(255, 0, 251) 0.2vmin, #0000 0) 99% 50%,
      radial-gradient(circle, rgb(255, 157, 0) 0.3vmin, #0000 0) 80% 90%,
      radial-gradient(circle, rgb(121, 121, 66) 0.5vmin, #0000 0) 95% 90%,
      radial-gradient(circle, rgb(224, 82, 63) 0.5vmin, #0000 0) 10% 60%,
      radial-gradient(circle, rgb(255, 255, 255) 0.2vmin, #0000 0) 31% 80%,
      radial-gradient(circle, rgb(87, 42, 172) 0.3vmin, #0000 0) 80% 10%,
      radial-gradient(circle, rgb(74, 74, 71) 0.2vmin, #0000 0) 90% 23%,
      radial-gradient(circle, rgb(15, 138, 81) 0.3vmin, #0000 0) 45% 20%,
      radial-gradient(circle, rgb(53, 3, 56) 0.5vmin, #0000 0) 13% 24%
      ;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
  }
  
  .firework::before {
    transform: translate(-50%, -50%) rotate(25deg); 
  }
  
  .firework::after {
    transform: translate(-50%, -50%) rotate(-37deg);
  }